# 代碼功能說明: Grafana Prometheus 数据源配置
# 創建日期: 2026-01-18 13:26 UTC+8
# 創建人: Daniel Chung
# 最後修改日期: 2026-01-18 17:18 UTC+8

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
      queryTimeout: "60s"
